.hero-navbar-links {
  list-style: none;
  display: inline;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.hero-container {
  /* padding-top: 10px; */
  /* background-color: red; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}

.hero-navbar-logo {
  
  height: 68px;
  width: 67px;
  /* flex-wrap: wrap; */
}
.hero-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100%;
}

.hero-navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  padding: 15px;
  margin-top: 20px;
  /* flex-wrap: wrap; */
}

.hero-navbar-link:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
}
.hero-btns {
  gap: 10px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}

.hero-section {
  width: 100vw;
  /* background-color: yellow; */
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.hero-text-section {
  /* width: 60vw;
  height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  flex-direction: column;
  flex: 1;

}

.hero-text-heading-div {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.hero-text-heading {
  /* width: 780px;
  height: 167px; */
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-text-div {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

.hero-text {
  /* background-color: aqua; */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
  color: white;
}

.text-btns {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-text-btns {
  gap: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex-wrap: wrap; */
}

.hero-cards-section {
  /* display: flex; */
  /* background-color: aquamarine; */
  height: 70vh;
  width: 40vw;
  /* flex-direction: column; */
  display: grid;
  /* grid-template-columns: repeat(auto-fit,
    minmax(200px,100px)); */
  /* gap: 10px; */
  /* justify-content: center;  */
  /* flex-wrap: wrap;*/
}
.hero-cards {
  /* height: 100%;
  width: 100%; */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 80px)); */
  /* gap: 10px;
    flex-direction: row; */
  /* justify-content: space-evenly; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 70%;
  gap: 25px;
  margin-top: 5%;
  flex: 1;

}

@media only screen and (max-width:1198px){

  .hero-text-heading {
    font-size: 50px;
   
  }
  .hero-text-div {
    margin-top: 35px;
  }
 
  
}

@media only screen and (max-width: 1002px) {
  
}

@media only screen and (max-width: 802px) {
  
}

@media only screen and (max-width: 652px) {
  
}
